@import url('https://fonts.googleapis.com/css2?family=Anton&family=Grenze+Gotisch&family=Open+Sans:wght@300;400;600;700&display=swap');
@import "tailwindcss";
@import "tailwindcss/utilities";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
    -webkit-font-smoothing: antialiased;
  }

  h1, h2, h3, h4 {
    font-family: 'Anton', sans-serif;
  }
}

@layer utilities {
  .font-gotisch {
    font-family: 'Grenze Gotisch', serif;
  }
  .font-heading {
    font-family: 'Anton', sans-serif;
  }

  .font-body {
    font-family: 'Open Sans', sans-serif;
  }
  .scroll-container {
    -webkit-overflow-scrolling: touch; /* iOS native momentum scroll */
  }
}
/* Masonry styles */
.my-masonry-grid {
  display: -webkit-box; /* fallback for older browsers */
  display: -ms-flexbox;
  display: flex;
  margin-left: -1rem; /* gutter */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem;
  background-clip: padding-box;
}


@plugin "tailwind-scrollbar-hide";